# Site settings
title: Daniel Feller, PhD
description: Healthcare Data Scientist | Federated Learning | Solutions Engineer
url: "https://danieljfeller.github.io/"
baseurl: ""

# About/contact
email: danieljfeller@gmail.com
github_username: yourusername
linkedin_username: danieljfeller

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Collections
collections:
  projects:
    output: true
    permalink: /projects/:path/

# Defaults
defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"

# Exclude from build
exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
